.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.title-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tile-buttom{
    position: relative;
    left: 90px;

}

.title-card{
    text-Align: center;
    margin-Top: 10px;
    padding: 5px;
    text-transform: uppercase;
    border: 2px solid black;
    background-color: white;
    width: auto;
    border-radius: 5px;
}

.box {
    border: 4px solid black;
    border-radius: 10px;
    width: 30%;
    margin-top: 10px;
    background-color: red;
}

.imageContent {
    border: 4px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.section-type {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.type-Card {
    text-Align: center;
    margin-Top: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.info-box {
    margin: 10px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.move-box {
    background-Color: gray;
    margin-Top: 10px;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.circle-buttom{
    border: 2px solid black;
    margin: 20px;
    padding: 20px; 
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
}